footer {
    text-align: center;
    margin-top: 100px;
    color: #474747;
    font-weight: bold;
    font-family: 'Nunito', cursive;
  }
  
  footer p {
    margin: 0 10px;
  }
  .last{
    margin-bottom: 50px;
  }
  .name_end{
    color: #6B8EAD;
  }