/* about section */

.container {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
  margin-top: 600px;
  margin-bottom: 30px;
  color: #474747;
  font-size: 2rem;
  font-family: 'Nunito', cursive;
}

.para{
  margin-top: -5px;
  margin-left: 40px;
  font-size: 1.1rem;
}

.imageAboutPage {
  width: 300px;
  float: left;
  padding-right: 20px;
}

.about_paragraph {
  margin-top: 60px;
  color: #474747;
  font-family: 'Nunito', cursive;
  font-size: 1.3rem;
  font-weight: bold;
}

.about_hr {
  margin-top: 100px;
  width: 50%;
}

.About_change_color {
  color: #6B8EAD;
}

.skills_paragraph {
  margin-top: 20px;
}

.skills-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 2; /* Adjust line height for tighter spacing */
}

.skill-category {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-left: 19px;
  font-size: 1.2rem;
}

.skill-sublist {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  padding: 0;
  margin-bottom: 20px;
}

.skill-sublist li {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items horizontally */
  margin: 7px 7px; /* Reduced margins for more compact layout */
  font-size: 1.1rem;
  box-sizing: border-box;
}

.skill-icon {
  width: 65px;
  height: 30px;
  margin-right: -10px;
  transition: transform 0.2s ease;
}

.skill-sublist li:hover .skill-icon {
  transform: scale(1.2);
}

@media (max-width: 992px) {
  .imageAboutPage {
      float: none;
      margin: 0 auto;
      display: block;
  }
  .about_hr {
      margin-top: 50px;
      width: 50%;
  }
}

.skill-icon2 {
  width: 70px;
  height: 40px;
  margin-right: -10px;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

@media (min-width: 1500px) {
  .text-center {
      margin-top: 700px;
  }
}

@media (max-width: 500px) {

  .para{
    font-size: 0.9rem;
    margin-left: 40px;
  }

  .about_paragraph, .skill-category, .skill-sublist li {
    font-size: 0.9rem;
  }
  
}

