 /* about section */

 .container {
    flex-wrap: wrap;
  }

 .text-center{
    text-align: center;
    margin-top: 600px;
    margin-bottom: 30px;
    color: #474747;
    font-size: 2rem;
    font-family: 'Nunito', cursive;
    @media (max-width: 992px) {
      margin-bottom: 50px
  }
    
  }
.imageAboutPage {
    width: 300px;
    float: left;
    padding-right: 20px;
}
.about_paragraph{
  margin-top: 60px;
  color: #474747;
  font-family: 'Nunito', cursive;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 320px;
  @media (max-width: 992px) {
    margin: 0px;
}
}


.about_hr{
  margin-top: 100px;
  width: 50%;
}
.About_change_color{
  color: #6B8EAD;
}
@media (max-width: 992px) {
    .imageAboutPage {
      float: none; /* Remove float on smaller screens */
      margin: 0 auto; /* Center the image horizontally */
      display: block; /* Ensure the image takes full width */
    }
    .about_hr{
      margin-top:50px;
      width: 50%;
    }
  
  }

  @media (min-width: 1500px) {
    .text-center{
      margin-top: 700px;
    }
  }

  .scikit-learn_svg{
    width: 50px; 
    height: 50px; 
    vertical-align:bottom;
    
  }
  
.java_svg{
  width: 30px; 
  height: 30px; 
  vertical-align:top;
}

.python_svg{
  width: 30px; 
  height: 30px; 
  vertical-align:middle;
}

.js_svg{
  width: 20px; 
  height: 20px; 
  vertical-align:middle;
}

.sn_svg{
  width: 50px; 
  height: 50px; 
  vertical-align:middle;
}
.docker_svg{
  width: 30px; 
  height: 30px; 
  vertical-align:middle;
}

.windows_svg{
  width: 70px; 
  height: 70px; 
  vertical-align:middle;
}

@media (max-width: 500px) {
  .windows_svg{
    width: 53px; 
    height: 53px; 
    vertical-align:middle;
  }
}

.ps_svg{
  width: 20px; 
  height: 20px; 
  vertical-align:middle;
  padding-left: 5px;
}

