#Contact {
    background-color: #DCC5B9;
    width: 700px; /* Adjust the width as needed */
    margin: 0 auto; /* Add this line to center the section horizontally */
    display: flex;
    flex-direction: column;
    border-radius: 10px; 
    justify-content: center;
    height: 550px; /* Adjust the height as needed */
    margin-bottom: 50px;
    font-family: 'Nunito', cursive;
    margin-top: 100px;
  }
  
  .contact_title {
    text-align: center;  
    margin-bottom: 10px;
    color: #474747;
    font-size: 1.5rem;
    font-family: 'Nunito', cursive;
  }
  
  .txtb {
    margin-bottom: 20px;
    
  }
  
  .txtb input,
  .txtb textarea{
    width: 90%;
    color: #474747;
    background-color: #DDD0C8;
    border-radius: 5px; 
    border-color: transparent;
  }

  .contact_form {
    text-align: center;
    @media (max-width: 992px) {
      margin : auto;
    }
  }
  
  .contact_form .btn {
    /* display: inline-block;  */
    width: 80%;
    color: #474747;
    background-color: #DDD0C8;
    border-radius: 5px; 
    border-color: transparent;
    padding-left: 10px;
    cursor: default;
    height: 40px;
    
  }
  .contact_form .btn:hover {
    color: #DCC5B9;
    background-color: #474747;
  }
  input{
    height: 30px;
    padding-left: 10px;
  }
  textarea {
    height: 150px; 
    padding-left: 10px;
    padding-top: 10px;
  }
  @media (max-width: 992px) {
    /* Adjust the breakpoint as needed */
    #Contact {
      width: 90%;
      height: 600px;
    }
  }
  
  
  