.skills_paragraph{
    margin-top: 60px;
    color: #474747;
    font-family: 'Nunito', cursive;
    font-size: 1rem;
    margin-left: 300px;
    line-height: 40px;
    @media (max-width: 992px) {
        margin: 0px;
    }
  }
  
  #skill_title{
    font-size: 1.5rem;
  }