@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,400&display=swap');
body {
    background-color: #DDD0C8; 
  }

  /* This file is for home section */
  
.bgimage {
    
    height:20vh;
    background-size:cover;
    position:relative;
    z-index: 1; /* Add this line */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 50px;
}

.webgl {
    display: block; /* Ensure no inline spacing issues */
    margin: 0 auto; /* Center the canvas horizontally */
    width: auto;
    height: auto;
    max-width: 100%; /* Ensure responsiveness */
    max-height: 100%;
    position:absolute;
    margin-left: 150px;
    margin-top: -70px;
    pointer-events: none;
}


h2
{
    position: relative;
    font-size: 6rem;
    color: #DDD0C8;
    -webkit-text-stroke: 0.3vw #766c66;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 500px;
    margin-left: 300px;
    font-family: sans-serif;
    font-weight: bold;
    
    
}

h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    width: 0;
    height: 100%;
    color: #323232;
    -webkit-text-stroke: 0.3vw #766c66;
    border-right: 5px solid #323232;
    overflow: hidden;
    animation: animate 6s linear infinite;

}
@keyframes animate
{
    0%, 10%, 70%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
        
    }
}
.hero_desc {
    font-size: 2rem;
    text-align: center;
    font-family: 'Nunito', cursive;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;
    font-size: 2rem;
    
}
.hero-text {
    margin: -100px;
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #474747;
    
}
.home_hr{
    margin-top: 1200px;
    width: 50%;
}
@media (max-width: 500px) {
    .hero-text{
        top: 100%;
        left: 27%;
        transform: translate(-50%, -50%);
    }
    h2{
        font-size: 3.3rem;
    }
    .hero_desc{
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
    .webgl {
        margin-left: 280px;
        margin-top: -100px;
    }
    .home_hr{
        margin-top: 1200px;
        margin-left: 70px;
        width: 50%;
    }
    
}


@media (min-width: 800px) and (max-width: 1200px){
    .home_hr{
        margin-top: 1400px;
        margin-left: 150px;
        width: 50%;

    }
}

@media (min-width: 1500px){
    .home_hr{
        margin-top: 1400px;
        

    }
}